*{
    margin: 0;
    padding: 0;
    outline: 0;
}
header{
    background-color: rgb(56, 82, 131);
}
header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
header nav ul li{
    padding: 0.5rem;
    width: 100px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: large;
}
main nav ul li {
    padding: 1rem;
}
main nav ul li a{
    color: black;
}
main h2{
    padding: 1rem;
}
main div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
main div table{
    margin-left: 0.5rem;
}
main div table tr th, table tr td{
    border: 0.1rem solid black;
    padding: 1rem;
}
main div table{
    border-collapse: collapse;
}
main form{
    margin-left: 0.5rem;
}
main section{
    margin-left: 0.3rem;
    height: 100vh;
}